body.signin-body {
    background-color: #ddeaff;
}

.container.signin-container {
    margin-top: 7%;
}

.card.signin-card {
    padding: 20px 25px;
    border-radius: 0;
    background-color: #f4f8ff;
    box-shadow: 2px 2px 5px rgba( 0, 0, 0, .5);
    -webkit-box-shadow: 2px 2px 5px rgba( 0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 5px rgba( 0, 0, 0, .5);
}

img.logo-img {
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    width: 70%;
}

form.signin-form {
    max-width: 350px;
    margin: auto;
}